@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");


.heading {
	color: white;
	font-family: "Montserrat", sans-serif !important;
	font-weight: 500 !important;
}

.PostFormContainer {
	margin-bottom: 20px !important;
}

@media (max-width: 600px) {
	.reverseFlex {
		flex-direction: column-reverse !important;
	}
}
