.loader-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
}

.gridList {

    width: "100%";
    height: "auto";

}

.container{
    margin-bottom: 5rem;
}