 .appBarSearch {
 	padding: 16px !important;
 	border-radius: 15px !important;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
 	display: flex;
 	margin-bottom: 1rem;
 }

 .pagination {
 	padding: 16px !important;
 	border-radius: 15px !important;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
 	margin-top: 1rem;
 }



 .gridContainer {
	display: flex;
 }

 .gridContainer2{
	display: flex;
	flex-direction: column !important;
 }
@media (min-width:1200px){
	.css-1oqqzyl-MuiContainer-root{
		max-width:none !important;
	}
}
@media (min-width:1536px){
	.css-19r6kue-MuiContainer-root {
			max-width: none !important;
		}
}
 @media (max-width: 600px) {
 	.gridContainer {
 		flex-direction: column-reverse !important;
 	}
	.gridContainer2{
		flex-direction: column-reverse !important;
	}
 }

 @media (max-width: 900px){
	.gridContainer {
			flex-direction: column-reverse !important;
			align-items: center !important;
		}
	
		.gridContainer2 {
			flex-direction: column-reverse !important;
		}

		
 }