.media {
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px !important;
    height: 100%;
    margin: 7px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.overlay2 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.grid {
    display: flex;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
}


.cardActions {
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
    margin-right: 30px;
}

.likeClass {
    color: black !important;
}

.deleteClass {
    color: black !important;
}

button:disabled,
button[disabled] {
    /* border: 1px solid #999999; */
    /* color: #cccccc; */
    color: #666666 !important;
}

