.image {
  margin-top: 5px !important;
  margin-left: 10px !important;
}

.appBar {
  border-radius: 15px !important;
  margin-bottom: 15px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: white !important;
  padding: 10px 50px !important;
}

.loginButton {
  background-color: black !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.logoutButton {
  background-color: black !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.toolbar {
  display: flex !important;
  justify-content: flex-end;
  width: 400px;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.userName {
  display: flex;
  align-items: center;
}

.brandContainer {
  display: flex;
  align-items: center;
}

.profileAvatar {
  align-items: center;
  background-color: black !important;
  color: white !important;
  /* margin-right: 15px; */
  /* margin-top: 7px; */
}

@media (max-width:600px) {
  .toolbar {
    width: auto !important;
  }

  .profile {
    width: 'auto';
    margin-top: 20;
    justify-content: 'center';
  }
}